.container-fluid{
    padding:0;
    margin:0;
}
.search1{
    float: right;
}

.table_employees{
    width: 100%;
}
.table_employees tr.table_head{
    background: gray;
    color:white;
    text-align: left;
}


.maine_block{
    margin: 15px;
}
.justify-content-end{
    background:#000;
    color:#ffff;
}
.justify-content-end a {
    color:#fff;
}
ul{
    margin-bottom: 0;
    padding-bottom: 0;
}

.table_employees tr:nth-child(even) {
    background-color: #f2f2f2
}


.table_employees .table_body td:nth-child(n+4) {
    text-align: center;
}

.sort_simvol{

    margin-left: 15px;

}

.sort_simvol a{
    color:white;
}
.sort_simvol_a {
    color:black;

}


.sort_simvol a:hover{
    text-decoration: none;
    color:black;
    outline:1px solid white;
    background: white;

}

.sort_simvol_a:hover{
    text-decoration: none;
    color:black;
    outline:1px solid white;
    background: white;
    cursor: pointer;

}


.second{
    display:none;
}

.second li:first-child{
    color:red!important;
    background: #2ab27b;
}